const { Intents } = require("discord.js");

const config = {
  // Bot Admins, level 9 by default. Array of user ID strings.
  "admins": [],

  // Bot Support, level 8 by default. Array of user ID strings
  "support": [],

  // Intents the bot needs.
  // By default GuideBot needs Guilds, Guild Messages and Direct Messages to work.
  // For join messages to work you need Guild Members, which is privileged and requires extra setup.
  // For more info about intents see the README.
  intents: [ Intents.FLAGS.GUILDS, Intents.FLAGS.GUILD_MESSAGES, Intents.FLAGS.DIRECT_MESSAGES, Intents.FLAGS.GUILD_MEMBERS, Intents.FLAGS.GUILD_VOICE_STATES, Intents.FLAGS.GUILD_MESSAGE_REACTIONS ],
  // Partials your bot may need should go here, CHANNEL is required for DM's
  partials: ['MESSAGE', 'USER', 'CHANNEL', 'REACTION'],

  // Default per-server settings. These settings are entered in a database on first load, 
  // And are then completely ignored from this file. To modify default settings, use the `conf` command.
  // DO NOT REMOVE THIS BEFORE YOUR BOT IS LOADED AND FUNCTIONAL.
  
  "defaultSettings" : {
      "Prefix":"~",
      "CocktailChannelID":"000",
      "HornyjailChannelID":"000",
      "EventChannelID":"000",
      "tokensChannelID":"000",
      "rewardChannelID":"000",
      "QouteChannelID":"000",
      "WelcomeChannelID":"000",
      "VictumRoleID":"000",
      "BonkerRoleID":"000",
      "PartyPlannerRoleID":"000",
      "WelcomeMessage":"Say hello to {{user}}, everyone! We all need a warm welcome sometimes :D",
      "PointsName":"points",
      "WelcomeEnabled":"false",
      "BonkEnabled":"false",
      "PointsEnabled":"true"
 },

  // PERMISSION LEVEL DEFINITIONS.

  permLevels: [
    // This is the lowest permisison level, this is for non-roled users.
    { level: 0,
      name: "User", 
      // Don't bother checking, just return true which allows them to execute any command their
      // level allows them to.
      check: () => true
    },
    { level: 15,
      name: "Server Owner", 
      // Simple check, if the guild owner id matches the message author's ID, then it will return true.
      // Otherwise it will return false.
      check: (message) => {
        // try message.user.id first, then message.author.id
        if(message.author) return message.author.id === message.guild.ownerID;
        else if (message.user) return message.user.id === message.guild.ownerID;
        else return false;
      }
    },

    // Bot Support is a special inbetween level that has the equivalent of server owner access
    // to any server they joins, in order to help troubleshoot the bot on behalf of owners.
    { level: 18,
      name: "Bot Support",
      // The check is by reading if an ID is part of this array. Yes, this means you need to
      // change this and reboot the bot to add a support user. Make it better yourself!
      check: (message) => {
        // try message.user.id first, then message.author.id
        if(message.author) return config.support.includes(message.author.id);
        else if (message.user) return config.support.includes(message.user.id);
        else return false;
      }
    },

    // Bot Admin has some limited access like rebooting the bot or reloading commands.
    { level: 19,
      name: "Bot Admin",
      // check if message.author.id or message.user.id is part of this array.
      check: (message) => {
        // try message.user.id first, then message.author.id
        if(message.author) return config.admins.includes(message.author.id);
        else if (message.user) return config.admins.includes(message.user.id);
        else return false;
      }
    },

    // This is the bot owner, this should be the highest permission level available.
    // The reason this should be the highest level is because of dangerous commands such as eval
    // or exec (if the owner has that).
    { level: 20,
      name: "Bot Owner", 
      // Another simple check, compares the message author id to a list of owners found in the bot application.
      // check if message.author.id or message.user.id is equal to process.env.OWNER
      check: (message) => {
        // try message.user.id first, then message.author.id
        if(message.author) return message.author.id === process.env.OWNER;
        else if (message.user) return message.user.id === process.env.OWNER;
        else return false;
      }
    }
  ]
};
        
module.exports = config;
